/* resets margins and padding to zero by default */

* {
  margin: 0px;
  padding: 0px;
}

/* Element selector Changes the font of all h1 tags */

h1 {
  font: bold 20px Tahoma;
}


/* Changes the font of all h2 tags */

h2 {
  font: bold 14px Tahoma;
}


/* This insures that all browsers handle the website in the same way.  CSS Display */

header,
section,
footer aside,
nav,
article,
hgroup {
  display: block;
}

body {
  text-align: center;
  background-color: #e6e6e6
}


/* This will style the whole website CSS Dimension Width, CSS Margin */

#wrapper {
  border: 1px solid black;
  width: 900px;
  margin: 20px auto;
  text-align: left;
}


/* This styles the header CSS Padding, CSS Boarder, CSS Gradient */

#top_header {
  background: linear-gradient(to right, black, rgb(88, 0, 0), orange, rgb(88, 0, 0), black);
  border: 1px solid black;
  padding: 25px;
  text-align: center;
  color: white;
}


/* This styles the nav bar */

#menu {
  background-color: rgb(88, 0, 0);
  color: white;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu li {
  float: left;
}

#menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
}


/* CSS Anchor Pseudo Class */

li a:hover {
  background-color: #111;
}

#main_section {
  float: left;
  width: 860px;
  margin: 20px;
}


/* CSS Top Boarder, Align, Gradient */

#the_footer {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid black;
  background: linear-gradient(to right, black, rgb(88, 0, 0), orange, rgb(88, 0, 0), black);
  color: white;
}

article {
  background: #580000;
  border: 1px solid black;
  padding: 10px;
  margin: 13px;
  color: white;
}
